@model  Pizzeria.ViewModels.HomeViewModel

<h2>@Model.Title</h2>
@foreach(var pizza in Model.Pizzas)
{
    <div>
        <h2>@pizza.Name</h2>
        <h3>@pizza.Price.ToString("c")</h3>
    </div>
}

